.bracket-set {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;

  max-width: 700px;
  height: 100px;
  line-height: 49px; /* includes border */
  border: 3px gray solid;
  margin: 4rem;

  justify-content: center;
  align-items: stretch;
}

.p1-name {
  border-bottom: 1px gray solid;
}

.p1-score {
  border-bottom: 1px gray solid;
  background-color: black;
}

.p2-name {
  border-top: 1px gray solid;
}

.p2-score {
  border-top: 1px gray solid;
  background-color: black;
}